*.class
*.project
*target
*.classpath
*.settings

# Package Files #
*.jar
*.war
*.ear

# bin

bin

/doc
/installationsinstallportal_1_4_0_10903instancesPRTportal-server
/java.exe.stackdump

# IntelliJ

.idea
*.iml
